*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    position: fixed;
    background-color: black;
    color: lightgray;
    width: 100%;
    height: 40px;
    font-size: 12px;
}

ul{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px 50px;
}

li{
    list-style: none;
    margin-left: 30px;
    text-decoration: none;
}

li a {
    text-decoration: none; 
    color: white;
}

main{
    padding-top: 40px;
}

.btn1{
    margin-top: 270px;
}

p{
    color:rgb(80, 80, 84);
    font-size: 22px;
}

.learn{
    font-weight: 500;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 20px;
    color: rgb(245, 245, 247);
    background-color: transparent;
    cursor: pointer;
}

.btn2{
    background-color: rgb(0, 113, 227);
    border: none;
    margin: 10px;
}

.buy{
    border: 2px solid rgb(0, 113, 227) ;
    color: rgb(0, 113, 227);
    margin: 10px;
}

#bnr1, #bnr2, #bnr3 {
    background-image: url('flat.jpg');
    background-size: cover;
    height: 85vh;
    background-position-y: -100px ;
    padding-top: 20px;
    color: white;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.banner > * {
    display: flex;
    justify-content: center;
}

.banner h1{
    font-size: 40pt;
}

.banner h2 {
    font-size: 26pt;
    font-weight: lighter;
      
}

.banner a{
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

#bnr2{
    background-image: url('second.jpg');
    background-position-y: -390px;
    background-size: cover;
    height: 90vh;
}

#bnr2 p{
    color: black;
}

#bnr3{
    background-image: url('biphone.jpg');
    background-position-y: -190px;
    background-size: cover;
}

.category{
    display: flex;
    justify-content: space-between;
    /* align-items: space-around; */
    margin: 0px 6px 10px;
}

.category .box {
    text-align: center;
    height: 85vh;
    width: 50%;
    margin: 0px 6px;
    background-size: cover;
    padding-top: 20px;
    color: white;
    
}

.category .box a {
    text-decoration: none;
    font-size: 14pt;
    padding-top: 20px;
}

#box1{
    background-image: url('flat2.jpg') ;
}

#box2{
    background-image: url('all.jpg') ;
}

#box3{
    background-image: url('laptop.jpg');
}

#box4{
    background-image: url('stand.jpg');
}

#box5{
    background-image: url('iphone.jpg');
}

#box6{
    background-image: url('b2iphone.jpg');
}

a:hover{
    cursor: pointer;
}

footer {
    background-color: rgb(245, 245, 247);
    width: 100%;
    /* height: 250px; */
}

footer .container {
    width: 80%;
    margin: 20px auto;
    padding: 10px 120px 10px;
}

footer .container > * {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
}

footer .container p{
    padding-bottom: 8px;
}

footer .container hr{
    width: 100%;  
}

footer .container p .copy {
    margin-top: 50px;
}

.fs{
    padding-left: 10px;
}